<%= erb :project_header, :locals => { :project => project } %>

<section id="commit">
  <div class="row">
    <div class="span12">
      <h2><%= commit %></h2>

      <pre class="terminal"><%= ansi_color_codes(h(stat)) %>

<%= ansi_color_codes(h(diff)) %></pre>
    </div>
  </div>
</section>