<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" media="screen" href="/css/screen.css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Heidi!</title>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
